/* Add here all your CSS customizations */
.shadowed-box{
    -webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.75);
}
.sidebar-left{
    background: #8e0000 !important;
}
.nav-parent a:hover{
    background:#d63232 !important;
}
ul.nav-main > li.nav-expanded > a {
    background:#d63232 !important;
}
ul.nav-main li .nav-children{
    background:#660000 !important;
}
.searchloader{
    display:none;
}
.balance_table{
    color:#666 !important;

}
.balance_table tbody{
    font-size:120%
}
.balance_upper td{
    background-color:#16A085; color:#FFF;
}
.balance_lower td{
    background-color: #999999; color:#FFF; text-align: center;
}
.balance_upper_value{
    font-weight: 700; color: #ff0000;
}
.balance_lower_value{
    background-color: #999999; color:#FFF; text-align:center; font-weight: 700;
}
