/* Add here all your CSS customizations */

.sidebar-left{
    background:#37474F !important;
}
.nav-parent a:hover{
    background:#000!important;
}
ul.nav-main > li.nav-expanded > a {
    background:#37474F !important;
}
ul.nav-main li .nav-children{
    background:#37474F !important;
}
.searchloader{
    display:none;
}

.fa-times{
 color: red !important
}

.down{
    color: green;
}

.red-bold{
  color: red;
  font-weight: 700;
}

.black{
color: #000;
}

.green{
    color: green;
    font-weight: 600;
}

.red-grade{
    color: red;
    font-weight: 600;
  }
.sem-balance{
    background-color:#16A085; color:#FFF;
}
.outstanding-balance{
    background-color:#666; color:#FFF; text-align: center;
}

.balance-amount{
    font-weight: 700; color: #800;
}
  
.blue{
    font-weight: 700; color:gray;
}
  
.bold{
    font-weight: bold;
}
.info-label{
    font-weight:  bold;
    color: black;
}
.data-label{
    font-weight:  bold;
    color: red;
}

.data-label{
    font-weight: bold;  
}
.parent-announcement{
    height:  30vh;
}

.heading-title{
    background-color:#D3D3D3; 
     color:#FFF;
}
.cert_thumbnail{

    min-width:60px;
    max-width:60px;
    overflow: hidden;
    min-height: 50px; 
    max-height: 50px;

}
.cert_img{
    
    position: absolute; 
    top: -1px; 
    left: -5px; 
    width:150%

}
.cert_link{

    text-transform: uppercase; 
    font-weight: bold; 
    color:green

}
.cert_thumbnail_mngr{

    overflow: hidden;

}
.cert_img_mngr{
    
    width:100px

}
.cert_link_mngr{

    text-transform: uppercase; 
    font-weight: bold; 
    color:green

}



